<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CompeteAPI v3">
		<test thread-count="5" name="API - Continuous Integration">
		<classes>
			<class name="unitTests._preTestAnnouncement" />
			<class name="functionalTests.ScheduleAppointment" />
			<class name="unitTests.AuthenticateMemberByUserCredentials" />
			<class name="unitTests.BookAppointmentByEmployee" />
			<class name="unitTests.BookAppointmentByMember" />
			<class name="unitTests.CancelAppointmentByEmployee" />
			<class name="unitTests.CancelAppointmentByMember" />
			<class name="unitTests.CreateMember" />
			<class name="unitTests.EnrollMemberInClassOnAccount" />
			<class name="unitTests.EnrollMemberInCourseOnAccount" />	
			<!-- class name="unitTests.EnrollMemberInClassWithCardOnFile" /-->
			<!-- class name="unitTests.EnrollMemberInCourseWithCardOnFile" /-->
			<!-- class name="unitTests.EnrollMemberInClassWithNewCreditCard" /-->
			<!-- class name="unitTests.EnrollMemberInCourseWithNewCreditCard" /-->	
			<class name="unitTests.EnrollMemberInClassWithPunchcard" />
			<class name="unitTests.EnrollMemberInCourseWithPunchcard" />		
			<class name="unitTests.EnrollMemberInClassWithRecurringDues" />
			<class name="unitTests.EnrollMemberInCourseWithRecurringDues" />
			<class name="unitTests.GetActiveBooksByResourceType" />
			<class name="unitTests.GetActiveClubs" />
			<class name="unitTests.GetAllAvailableClassesByMember" />
			<class name="unitTests.GetAllAvailableCoursesByMember" />
			<class name="unitTests.GetAllPackagesForPurchaseByClub" />
			<class name="unitTests.GetAppointmentDetails" />
			<class name="unitTests.GetAppointmentProductByCategory" />
			<class name="unitTests.GetAppointmentProductCategoriesByMember" />
			<class name="unitTests.GetAppointmentResourceTypeByProduct" />
			<class name="unitTests.GetAppointmentsByBook" />
			<class name="unitTests.GetAppointmentsByMember" />
			<class name="unitTests.GetAvailableAppointments" />
			<class name="unitTests.GetAvailableResourceTypesByClub" />
			<class name="unitTests.GetBookAvailabilityCalendar" />
			<class name="unitTests.GetCardsOnFileByMember" />
			<class name="unitTests.GetClassCoursePricing" />
			<class name="unitTests.GetClassesAndCoursesByBook" />
			<class name="unitTests.GetClassesAndCoursesByMember" />
			<class name="unitTests.GetClubsByMember" />
			<class name="unitTests.GetClassDetailsByMember" />
			<class name="unitTests.GetCourseDetailsByMember" />
			<class name="unitTests.GetEmployees" />
			<class name="unitTests.GetFieldsForAddOnMemberCreationByEmployee" />
			<class name="unitTests.GetFieldsForMemberCreationByEmployee" />
			<class name="unitTests.GetFieldsForMemberCreationByMember" />
			<class name="unitTests.GetFieldsForProspectCreationByEmployee" />
			<class name="unitTests.GetMember" />
			<class name="unitTests.GetNextMemberId" />
			<class name="unitTests.GetNextProspectMemberId" />
			<class name="unitTests.GetOnlineAvailableClassesByMember" />
			<class name="unitTests.GetOnlineAvailableCoursesByMember" />
			<class name="unitTests.GetOnlinePackagesForPurchaseByClub" />
			<class name="unitTests.GetPackageDetails" />
			<class name="unitTests.GetPackagePricing" />
			<class name="unitTests.GetProductByBook" />
			<class name="unitTests.GetPurchasedPackagesByMember" />
			<class name="unitTests.GetScheduleByBook" />
			<class name="unitTests.GetScheduleByMember" />
			<class name="unitTests.SearchMembers" />
			<class name="unitTests.SearchMembersByProduct" />
			<class name="unitTests.SearchOnlineMembersByProduct" />
			<class name="unitTests.SecurityPipeline" />
			<class name="unitTests.VerifyClassEnrollmentCapability" />
			<class name="unitTests.VerifyCourseEnrollmentCapability" />	
			<!-- class name="unitTests.CLASSNAME">
				<methods>
				<exclude name="METHODNAME"/>
				</methods>
			</class-->			
		</classes>
	</test>
</suite>
