<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API - Smoke Testing">
	<listeners>
		<listener class-name="resources.ExtentReporterNG" />
	</listeners>
	<!-- test thread-count="5" name="Get Response"> <classes> <class name="JonasFitness.API.GetResponse"/> 
		</classes>
		 </test-->
		 	<test thread-count="5" name="Get ResponseCORE"> <classes> <class name="JonasFitness.API.GetResponseCORE"/> 
		</classes>
		 </test>
</suite>
